.modulos{
  position: absolute;

}
/*footer*/


.ll{
	text-align: center;
}

*,
*::before,
*::after{

  margin:0;
  padding:0;
  box-sizing: inherit;
}
.contenedor {
  width: 90%; 
  max-width: 1000px; 
  margin: auto; 
  overflow: hidden; 
}
.centrado{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}



.contenedor11 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.questions11 {
  height: 600px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions11>img {
  width: 550px;
}

.textos-questions11 {
  margin: 0 0 0 30px;
}

.textos-questions11 p {
  font-weight: 100;
  margin-top: 14px;
  color: #5D6678;
  background:white;
}


.textos-questions11 a {
  margin: 28px 0 0 0;
  width: 130px;
  background: white;
  display: inline-block;
  background: #1FDE82;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.contenedor11 {
  background: white;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}
.foto{ padding: 10px; margin: 10px; border: 2px solid white; float: right; width: 250px; }
.section{
  width: 100%;
  height:100vh;
  background-color: #30475e;
  display: flex;
  align-items:center;
  justify-content: center;
}
.container{
  width: 100%;
  max-width: 100rem;
  margin:0 auto;
  padding: 0 1.5rem;
}
.accordion-item{
background-color: ivory;
border-radius: .4rem;
margin-bottom: 1rem;
padding: 1rem;
box-shadow:.5rem 2px .5rem rgba(0, 0,0, .1) ;


}
.accordion-link{
font-size: 1.6rem;
color: rgba(255, 255, 255, .8);
text-decoration: none;
background-color:#343a40 ;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding:.1rem 0;

}
.accordion-link i{
color: ivory;
padding: .5rem;

}
.accordion-link .ion-md-remove{
display: none;

}
.modulos{
  position: absolute;
}

.answer{
 max-height: 0;
 overflow: hidden;
 position: relative;
 background-color:ivory;
 transition:  max-height 650ms;


}
.answer1{
  max-height: 0;
  overflow: hidden;
  position: relative;
  
  transition:  max-height 650ms;
 
 
 }

.answer::before{
content: "";
position:absolute;
width:.6rem;
height:90%;
background-color: #dae1e7;
top:50%;
left: 0;
transform: translateY(-50%);

}

.answer p{
  color : rgba(7, 3, 3, 0.6);
  font-size: .9rem;
  padding: 2rem;
  
  }
.accordion-item:target .answer{
  max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-add{
  display: none;
}


.accordion-item:target .accordion-link .ion-md-remove{
  display: block;
}

