body {
  font-family: "cursive", sans-serif;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  background: #c1bdf5;
  font-size: 1em;
  line-height: 1.48;
}


h1, h2, h3, h4, h5, h6 {
  font-family:  cursive;
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0.7em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.8em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4 {
  font-size: 1em;
  margin: 0.83em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

.header {
  position: relative;
  background: #F8F8F8;
  padding: 0 1em;
  border-bottom: solid 3px #E5E5E5;
  margin-bottom: 1em;
  transition: height ease 400ms;
}
.header--logo {
  width: 4.5em;
  height: 4.5em;
  margin: 0.5em 0;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  z-index: 1030;
  padding: 1em;
  transition-delay: 400ms;
  justify-content: flex-start;
  overflow-y: scroll;
}
.intro button {
  background: #3b5998;
  border: 0;
  padding: 0.5em 2em;
  border-radius: 10px;
  color: white;
  transition: ease 300ms;
}
.intro button:hover {
  background: #88aaf3;
  cursor: pointer;
}

.header--logo__large {
  width: 13em;
  height: 13em;
}
@media only screen and (min-width: 992px) {
  .header--logo__large {
    width: 15em;
    height: 15em;
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0.7em;
}
.quiz img {
  border-radius: 0 8px 8px 0;
}
@media only screen and (min-width: 992px) {
  .quiz {
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 450px;
  }
}

.quiz__image {
  width: 100%;
  flex: 0 auto;
  order: 2;
}
@media only screen and (min-width: 992px) {
  .quiz__image {
    width: 100%;
    height: auto;
    flex: 0 0 500px;
  }
}
.quiz__image img {
  width: 100%;
  height: 100%;
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex: 0 auto;
}
@media only screen and (min-width: 992px) {
  .quiz__wrapper {
    flex: 1 1 auto;
    padding: 3em;
  }
}

.quiz__question {
  min-height: 120px;
}

.quiz__answer {
  display: flex;
  flex-direction: column;
}
.quiz__answer--item {
  background: white;
  color: #191919;
  border: solid 5px #efefef;
  border-radius: 0.5em;
  padding: 0.5em 0;
  margin-bottom: 1em;
  font-size: 1.15em;
  transition: ease 300ms;
  outline: none;
}
.quiz__answer--item:hover, .quiz__answer--item:focus {
  border: solid 5px #84B5DC;
  cursor: pointer;
}
.quiz__answer--item:active {
  outline: none;
  transform: translateY(2px);
}

.result {
  display: flex;
  flex-direction: column;
  background: rgb(231, 164, 164);
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0.7em;
}
@media only screen and (min-width: 992px) {
  .result {
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 450px;
  }
}
@media only screen and (min-width: 992px) {
  .result {
    padding: 0;
    flex-direction: row;
  }
}
.result__image {
  width: 100%;
  flex: 0 auto;
  order: 2;
}
@media only screen and (min-width: 992px) {
  .result__image {
    width: 100%;
    height: auto;
    flex: 0 0 500px;
  }
}
.result__image img {
  width: 100%;
  height: 100%;
}
.result__text {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex: 0 auto;
}
@media only screen and (min-width: 992px) {
  .result__text {
    flex: 1 1 auto;
    padding: 3em;
  }
}

.result__button {
  display: block;
  border: 0;
  padding: 0.5em 0;
  margin-bottom: 1em;
  outline: none;
  color: white;
  transition: ease 300ms;
  width: 100%;
}
.result__button:hover {
  opacity: 0.9;
}
@media only screen and (min-width: 992px) {
  .result__button {
    width: 400px;
    margin-bottom: 1em;
  }
}
.result__button--puntajes {
  background: #3b5998;
}
.result__button--twitter {
  background: #1dcaff;
}
.result__button:hover {
  cursor: pointer;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 400ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  display: none;
}

.fade-exit-active {
  opacity: 0.01;
  display: none;
  transition: all 400ms ease-in;
}

.fade-in {
  animation: fade-in ease 600ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}