<form v-on:submit.prevent="guardarAdmin" data-accion="nuevo" data-idAdmin='' method="post" id="frm-Admin">
    <div class="card border-danger mb-4" style="max-width: 24rem;">
        <div class="card-header"style="background-color: #30475e;">
      
           <label style="color:white">Registro Administrador</label> 
            

            <button type="button" id="btn-close-admin" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body" >
            
            <div class="d-inline-flex p-2">
                
               <input type="text" v-model="admin.usuario" placeholder="Usuario" class="form-control">
                 &nbsp;
                 &nbsp;
                
                <input type="text" v-model="admin.nombre" placeholder="Nombre" class="form-control">
                
                 &nbsp;
                 &nbsp;
                
                 <input type="text" v-model="admin.apellido" placeholder="Apellido" class="form-control">
            </div>
           
            <div class="d-inline-flex p-2">
              
                    <input type="email" v-model="admin.correo" placeholder="Correo" class="form-control"> &nbsp;&nbsp;
                    <input type="password" v-model="admin.clave" placeholder="Clave" class="form-control">
                  
              
            </div>
            <div class="d-inline-flex p-2">
               
                   
                    <input type="text" v-model="admin.direccion" placeholder="Direccion" class="form-control">&nbsp;&nbsp;
                        <input type="text" v-model="admin.telefono" placeholder="Telefono" class="form-control">
                        <input style="visibility:hidden" type="text" v-model="admin.privilegio" value="1" class="form-control">
               
                
                
                
            </div>
            <div class="row p-2">
                <div class="col-4">
                
                </div>
                <div class="col-10">
                   
                 
                    <select name=""class="form-control"id="selectGenero" v-model="admin.genero">
                        <option value="">--Seleccionar Genero--</option>
                        <option value="masculino">masculino</option>
                        <option value="femenino">femenino</option>
                    
                    </select>
                    
            </div> 
            
           
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input id="btnGuardarAdmin" type="submit" class="btn btn-primary"
                        value="Guardar">
                    <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-success mostrar-buscar-admin text-white"
                        data-modulo="admin" data-form="buscar-admin" value="Buscar">
                </div>
            </div>
            
        </div>
    </div>
</form>
<script src="../vistas/Admin/admin.js"></script>