<form method="POST" id="frm-buscar-admin">
    <div class="card text-white  mb-3" style="max-width: 48rem;">

        <div class="car-header" style="background-color: #30475e;">
            BUSQUEDA ADMINISTRADOR

            <button type="button" id="btn-close-buscar-admin" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-admin" class="table-striped "style="background-color: #30475e;">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor"v-on:keyup="buscarAdmin" placeholder="Buscar por nombre,usuario o direccion" class="form-control">
                        </th>
                    </tr>
                    <tr>
                      
                        <th class="table"></th>Nombre</th>
                        <th class="table"></th>Apellido</th>
                        <th class="table"></th>Usuario</th>
                        <th class="table"></th>Correo</th>
                        <th class="table"></th>Clave</th>
                        <th class="table"></th>Direccion</th>
                        <th class="table"></th>Telefono</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in misadmin" :key="usuario.id" v-on:click="modificarAdmin(usuario)">
                    
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido}}</td>
                        <td>{{ usuario.usuario }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.clave }}</td>
                        <td>{{ usuario.direccion }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>
                            <input v-on:click="eliminarAdmin(usuario.id)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/Admin/buscar-admin.js"></script>