<form method="POST" id="frm-buscar-lugar">
    <div class="card text-white mb-3"style="max-width: 48rem;">

        <div class="car-header"style="background-color: #30475e;">
            BUSQUEDA LUGAR

            <button type="button" id="btn-close-buscar-lugar" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-lugar" class="table-striped  table-bordered table-hover"  style="background-color: #30475e;">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor"v-on:keyup="buscarLugar" placeholder="Buscar por Solicitante o Direccion" class="form-control">
                        </th>
                    </tr>
                    <tr>
                      
                        <th>DIRECCION</th>
                        <th>SOLICITANTE</th>
                        <th>TELEFONO</th>
                        
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="lugar in mislugar" :key="lugar.idLugar" v-on:click="modificarLugar(lugar)">
                    
                        <td>{{ lugar.direccion }}</td>
                        <td>{{ lugar.solicitante}}</td>
                        <td>{{ lugar.telefono }}</td>
                        <td>
                            <input v-on:click="eliminarLugar(lugar.idLugar)" type="button" class="btn btn-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/Lugar/buscar-lugar.js"></script>