<form v-on:submit.prevent="guardarLugar" data-accion="nuevo" data-idlugar='' method="post" id="frm-lugar">
    <div class="card border-danger mb-4" style="max-width: 24rem; ">
        <div class="card-header"style="background-color: #30475e;">
            <label style="color:white">Registro Lugar</label> 
            
           
            <button type="button" id="btn-close-lugar" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            
            <div class="row p-2">
                
                <div class="col-10">
                    <input type="text" v-model="lugar.direccion" placeholder="           Direccion" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                 
                </div>
                <div class="col-10">
                    <input type="text" v-model="lugar.solicitante" placeholder="           Solicitante" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                
                </div>
                <div class="col-10">
                    <input  pattern="{0-9}[4]-{0-9}[4]" type="text" v-model="lugar.telefono" placeholder="          Telefono" class="form-control">
                </div>
            </div>
           
           
            <div class="row p-2">
                <div class="col-12 text-center">
                    <input id="btnGuardarLugar" type="submit" class="btn btn-primary text-white"
                        value="Guardar">
                    <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-success mostrar-buscar-lugar text-white"
                        data-modulo="lugar" data-form="buscar-lugar" value="Buscar">
                </div>
            </div>
            
        </div>
    </div>
</form>
<script src="public/vistas/Lugar/lugar.js"></script>